<footer class='absolute w-full p-4 bottom-0'>
    <div class='sm:flex sm:items-center sm:justify-center'>
        <h1 class='flex flex-wrap items-center mb-6 sm:mb-0 text-gray-600'>ETML - Ecole technique - Ecole des métiers Lausanne</h1>
    </div>
    <hr class='my-6 border-gray-400 sm:mx-auto lg:my-8' />
    <span class='block text-sm text-gray-700 sm:text-center dark:text-gray-400'>© 2022 | <a href='https://treelproject.com' target='_blank' class='hover:underline'>Nelson Tivollier</a>
      </span>
</footer>